[submodule "sound/libogg"]
	path = sound/libogg
	url = https://github.com/xiph/ogg.git
	ignore = dirty
[submodule "sound/libvorbis"]
	path = sound/libvorbis
	url = https://github.com/xiph/vorbis.git
	ignore = dirty
