mihajong/*.cfg
mihajong/*.exe
mihajong/*.dll
mihajong/*.i
mihajong/bgm/
mihajong/sound/
mihajong/debug.log
mihajong/haifu/*.txt
mihajong/haifu/*.htm
mihajong/hsptmp
mihajong/img/tileset_black.gif
mihajong/img/tileset_blue.gif
mihajong/img/tileset_caramel.gif
mihajong/img/tileset_green.gif
mihajong/img/tileset_purple.gif
mihajong/img/tileset_red.gif
mihajong/obj
mihajong/packfile
mihajong/start.ax
logger/Debug/
logger/Release/
logger/ipch/
mjcore/Debug/
mjcore/Release/
mjcore/ipch/
mjcore/test/
mjcore/mjcore.sdf
mjcore/mjcore.suo
mjcore/mjcore.opensdf
astro/Debug/
astro/Release/
astro/ipch/
mjcore/lua/*.lib
mjcore/lua/include
release
*.zip
