[submodule "sound/libogg"]
	path = sound/libogg
	url = https://git.xiph.org/ogg.git
	ignore = dirty
[submodule "sound/libvorbis"]
	path = sound/libvorbis
	url = https://git.xiph.org/vorbis.git
	ignore = dirty
