mihajong_legacy/*.ini
mihajong_legacy/*.exe
mihajong_legacy/*.dll
mihajong_legacy/*.i
mihajong_legacy/bgm/
mihajong_legacy/sound/
mihajong_legacy/debug*.log
mihajong_legacy/haifu/*.txt
mihajong_legacy/haifu/*.htm
mihajong_legacy/hsptmp
mihajong_legacy/img/tileset_black.gif
mihajong_legacy/img/tileset_blue.gif
mihajong_legacy/img/tileset_caramel.gif
mihajong_legacy/img/tileset_green.gif
mihajong_legacy/img/tileset_purple.gif
mihajong_legacy/img/tileset_red.gif
mihajong_legacy/obj
mihajong_legacy/packfile
mihajong_legacy/rulesyms.txt
mihajong_legacy/start.ax
logger/Debug/
logger/Release/
logger/ipch/
mjcore/Debug/
mjcore/Release/
mjcore/ipch/
mjcore/test/
mjcore/mjcore.sdf
mjcore/mjcore.suo
mjcore/mjcore.opensdf
mjcore/data/*.cpp
mjcore/data/*.h
mjcore/data/confitem*.lzma
astro/Debug/
astro/Release/
astro/ipch/
socket/Debug/
socket/Release/
socket/ipch/
mjcore/lua/*.lib
mjcore/lua/include
release
*.zip
*.7z
*~
Debug/
Release/
Debug(Wide)/
Release(Wide)/
ipch/
*.sdf
*.opensdf
*.suo
