mihajong/*.ini
mihajong/*.exe
mihajong/*.dll
mihajong/*.i
mihajong/ai/
mihajong/bgm/
mihajong/gbai/
mihajong/sound/
mihajong/debug*.log
mihajong/haifu/
doc/rulesyms.md
logger/Debug/
logger/Release/
logger/ipch/
mjcore/Debug/
mjcore/Release/
mjcore/ipch/
mjcore/test/
mjcore/mjcore.sdf
mjcore/mjcore.suo
mjcore/mjcore.opensdf
mjcore/data/*.cpp
mjcore/data/*.h
mjcore/data/confitem*.lzma
mjcore/data/prefitem*.lzma
mjcore/data/rankval.csv.lzma
astro/Debug/
astro/Release/
astro/ipch/
socket/Debug/
socket/Release/
socket/ipch/
sound/Debug/
sound/Release/
sound/ipch/
mjcore/lua/*.lib
mjcore/lua/include
sound/GuruGuruSMF/*
!sound/GuruGuruSMF/README
sound/libogg/*
sound/libvorbis/*
!sound/libogg/Readme.txt
!sound/libvorbis/Readme.txt
release
*.zip
*.7z
*~
Debug/
Release/
Debug(Wide)/
Release(Wide)/
ipch/
*.sdf
*.opensdf
*.suo
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.log
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/*
!m4/ax_*.m4
!m4/mh_*.m4
missing
Makefile
astro/.deps/
astro/Makefile
config.h
config.status
graphic/.deps/
graphic/Makefile
libtool
mihajong/.deps/
mihajong/Makefile
mjcore/.deps/
mjcore/Makefile
mjcoregb/.deps/
mjcoregb/Makefile
socket/.deps/
socket/Makefile
sound/.deps/
sound/Makefile
stamp-h1
.libs
*.lo
*.la
*.o
mihajong/mihajong
mihajong/mihasanm
mihajong/mihassnm
mihajong/mihaysnm
mihajong/mihagbmj
mihajong-*.tar.*
mentzdat/mnzcalc
mentzdat/putchr
mentzdat/mentz.dat
mentzdat/mentz.dat.*
*.hi
!mentzdat/Makefile
!mentzdat/test/Makefile
mentzdat/test/*.txt
mentzdat/test/testprog
!doc/Makefile
doc/*.html
