/* MiHaJong 牌譜用スタイルシート */
table {
	border-collapse: collapse;
}
.dice {
	font: 1.4em "GL-Antique";
}
h2 .tile {
	font: 1.8em "GL-MahjongTile";
}
.tile {
	font: 3em "GL-MahjongTile";
}
tr.tile {
	text-align: center;
}
td span.tile {
	vertical-align: bottom;
}
.notice {
	font-size: 0.6em;
	height: 1em;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}
.player {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.3em;
}
.akadora {
	color: #ff0000;
}
.aodora {
	color: #0000ff;
}
.fallthru {
	font: 67% "Times New Roman", serif;
}
body, .label {
	font: 1em sans-serif;
}
.tile .label {
	font-size: 0.333333em;
}
.hand {
	vertical-align: middle;
}
.label {
	text-align: center;
	white-space: nowrap;
}
table.kakan {
	display:inline;
	vertical-align: bottom;
	font: 1em "GL-MahjongTile";
	line-height: 60%;
	margin:0; padding:0;
}
td.kakan {
	margin:0; padding:0;
}
td.hand {
	vertical-align: middle;
	line-height: 100%;
}
.rotated-tiles {
	display: inline-table;
	vertical-align: text-bottom;
	-o-transform: rotate(-90deg);
}
.rotated-tiles-dbl {
	display: inline-table;
	vertical-align: text-bottom;
	-o-transform: rotate(-90deg);
	width: 1em;
}
.rotated {
	display: table-cell; /*vertical-align: bottom;*/
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand');
	width: 0.9em;
}
.rotated-stacked {
	display: table-cell; /*vertical-align: bottom;*/
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand');
	width: 0.9em; max-width: 0.9em;
}
