/* MiHaJong 牌譜用スタイルシート */
@font-face {
	font-family: 'GL-MahjongTile-Clr';
	src: url('GL-MahjongTile-Clr-WithFallback.woff') format('woff');
}
@font-face {
	font-family: 'GL-MahjongTile';
	src: url('GL-MahjongTile-Subset.woff') format('woff');
}
@font-face {
	font-family: 'GL-Antique';
	src: url('GL-Antique-Dice.woff') format('woff');
}
table {
	border-collapse: collapse;
}
.dice {
	font: 1.4em "GL-Antique";
	vertical-align: -0.1em;
}
h2 .tile {
	font: 1.8em "GL-MahjongTile-Clr";
	vertical-align: -0.15em;
}
.tile {
	font: 3em "GL-MahjongTile-Clr";
}
tr.tile {
	text-align: center;
}
td span.tile {
	vertical-align: bottom;
}
.notice {
	font-size: 0.6em;
	height: 1em;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}
.player {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.3em;
}
.akadora {
	color: #ff0000;
	font-family: "GL-MahjongTile";
}
.aodora {
	color: #0000ff;
	font-family: "GL-MahjongTile";
}
.fallthru {
	font: 67% "Times New Roman", serif;
	vertical-align: 0.3em;
}
body, .label {
	font: 1em sans-serif;
}
.tile .label {
	font-size: 0.333333em;
}
.hand {
	vertical-align: middle;
}
.label {
	text-align: center;
	white-space: nowrap;
}
.rotated-tiles {
	display: inline-table;
	vertical-align: text-bottom;
}
.rotated-tiles-dbl {
	display: inline-table;
	vertical-align: text-bottom;
	width: 1em;
}
.rotated {
	display: table-cell;
	transform: rotate(-90deg) translateY(-0.1em);
	width: 0.9em;
}
.rotated-stacked {
	display: table-cell;
	transform: rotate(-90deg) translateY(-0.1em);
	width: 0.9em; max-width: 0.9em;
}
