/* CSS for MiHaJong Manual */

body {
	margin: 10px 20px;
}

h1 {
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

table, th, tr, td {
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.25);
	empty-cells: show;
}

pre.codehilite, code {
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 0.0625);
}
pre.codehilite code {
	border: none;
	background-color: transparent;
}

th {
	background-color: rgba(0, 0, 0, 0.25);
}
tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.125);
}
tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.0625);
}

hr {
	border: none;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.25);
}

blockquote {
	border-left: solid 6px rgba(0, 0, 0, 0.25);
	padding-left: 6px;
}
